

<%= form_tag url_for(action: 'create'), method: "post" do %>

    <div class="form-group row no-padding text-center col-md-12">
      
        <%= text_field_tag 'title' , @task.title , placeholder: "Task Title", autofocus: true,
                                  class: "form-control input-lg" %>      
    </div>

    <div class="form-group row no-padding text-center col-md-12">

        <%= text_area_tag 'description' , @task.description , placeholder: "Task Description", autofocus: false,
                                  class: "form-control input-lg textarea" %>      
    </div>


    <div class="form-group">
        <%= label_tag :"Task Type" %>
        <%= select_tag "task_category" , options_for_select([ ["Bug", "Bug"], ["Featured", "Featured"]]) %>
      </div>

      <div class="form-group">
        <%= label_tag :"Available Developers" %>
        <%= select_tag "developer" , options_for_select( @developer_array ) %>
      </div>



      <div class="form-group">
            <%= label_tag :Image %>
            <%= file_field_tag "avatar"  %>
      </div>




      <div class="row">
      <div class="col-md-2 ">
          <%= link_to "Back to Tasks", project_tasks_path(@project), class: "button btn btn-lg btn-success" %>
      </div>

      <div class = "col-md-7">
      </div>

      <div class = "col-md-2">
          <%= submit_tag "Create Task", class: "button btn btn-lg btn-success" %>
      </div>
  </div>

<% end %>





