
<h3> Projects </h3>

<% if is_manager %>
  <%= link_to "Add new Project!", new_project_path, class: "button btn btn-lg btn-success" %>
<% end %>

<% if @count>0 %>

  <table class="table table-striped">

    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @projects.each do |p| %>
        <tr>
          <td><%= p.project_name %></td>
          <td>
            <% if is_manager %>
              
                <%= link_to "Delete this Project", project_path(p), 
                          method: :delete,
                          data: {confirm: "Are you sure?"}, 
                          class: "btn btn-xs btn-danger" %>

                <%= link_to "Edit this Project", edit_project_path(p),
                          class: "btn btn-xs btn-success" %>

                <%= link_to "QA's", project_path(p),
                          class: "btn btn-xs btn-success" %>
            <% end %>

                <%= link_to "Tasks", project_tasks_path(p),
                          class: "btn btn-xs btn-success" %>
          </td>
            
          
        </tr>
      <% end %>
    </tbody>
  </table>


<% else %>
  <% if is_manager %>
    <h3> You do not have any project </h3>
  <%else%>
    <h3> You have not assigned any project </h3>
  <%end%>
<%  end %>
